<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .dropdown-content a:hover {
            background-color: #ddd;
        }
    </style>
    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        function myFunction1() {
            document.getElementById("myDropdown1").classList.toggle("show");
        }

        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LMS.styles.css" asp-append-version="true" />
    <link href="~/css/cdn.datatables.net_1.13.5_css_jquery.datatables.min.css" rel="stylesheet" />
    <link href="~/css/cdnjs.cloudflare.com_ajax_libs_font-awesome_6.4.0_css_all.min.css" rel="stylesheet" />
    <link href="~/css/cdnjs.cloudflare.com_ajax_libs_toastr.js_latest_toastr.min.css" rel="stylesheet" />
    <script src="~/js/cdnjs.cloudflare.com_ajax_libs_toastr.js_latest_toastr.min.js"></script>


    <script src="~/js/code.jquery.com_jquery-3.7.0.js"></script>
    <script src="~/js/cdn.datatables.net_1.13.5_js_jquery.datatables.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LMS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="LeaveReport" asp-action="Index">Leave Report</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link text-dark dropbtn" onclick="myFunction()">Manage Employee</a>
                                <div id="myDropdown" class="dropdown-content">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Emp" asp-action="Create">Create Employees</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Emp" asp-action="Index">Employees List</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="EmpListReport" asp-action="Index">Employee Report</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link text-dark dropbtn" onclick="myFunction1()">Manage Leaves</a>
                                <div id="myDropdown1" class="dropdown-content">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Leaves" asp-action="CreateUpdate">Apply Leave</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Leaves" asp-action="Index">Leaves Details</a>
                                </div>
                            </div>
                        </li>


                    </ul>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    var userName = User.Identity.Name;
                    ViewBag.UserName = userName; // Using ViewBag
                    <div class="navbar float-end">
                        <span>Welcome to</span><span class="text-success font-weight-bold p-2">@User.Identity.Name.ToUpper()</span><a class="btn btn-sm btn-danger font-weight-bold" asp-action="Logout" asp-controller="Account">LogOut</a>
                    </div>
                }
                else
                {
                    <div class="navbar float-end">
                        <a class="nav-link text-dark account" asp-area="" asp-controller="Account" asp-action="SignUp">Register</a>
                        <a class="nav-link text-dark account" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                    </div>
                }
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mb-0">
        <div class="container">
            &copy; 2023 - LMS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
