@model LMS.Models.ViewModel.SignUpModel

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<div class="container">
    <div class="row">
        <div class="col-6 offset-3 border border-primary rounded ">
            <div class="text-center">
                <h1 class="text-success">
                   Registration Form
                </h1>
            </div>
            <form method="post" asp-action="SignUp">

                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input type="text" asp-for="Username" placeholder="Enter Username" class="form-control form-text" autocomplete="off" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input type="text" asp-for="Email" placeholder="Enter Email" class="form-control form-text" autocomplete="off" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mobile"></label>
                    <input type="text" asp-for="Mobile" placeholder="Enter Mobile Number" class="form-control form-text" autocomplete="off" />
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input type="password" asp-for="Password" placeholder="Enter Password" class="form-control form-text" autocomplete="off" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input type="password" asp-for="ConfirmPassword" placeholder="Enter Confirm Password" class="form-control form-text" autocomplete="off" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="checkbox" asp-for="IsActive" />
                    <label asp-for="IsActive"></label>
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success btn-lg mb-1 float-lg-end mt-2" value="Registration" />
                </div>

            </form>


        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var msg = '@TempData["result"]';
        var err = '@TempData["error"]';
        if (msg != null && msg != "") {
          
            alert(msg);
            window.location.href = "@Url.Action("Login", "Account")";
        }

        if (err != null && err != "") {
       
            alert(err);
            
          //  window.location.href = "@Url.Action("SignUp", "Account")";
        }
    });
</script>